*{
    margin: 0px; 
    font-family:  Arial ;
    border: border-box ;
    color: white;
}
.navbar{
  height: 60px;  
background-color: black;
color: white;
display: flex; 
justify-content:flex-start;

}
.nav-logo{
height: 100%;
width: 10%;

display: flex;
justify-content: center;
align-items: center;

}
.fa-brands.fa-amazon{
   font-size:2em ;
}
.search{
width:350px ;
height:50% ;
background-color:white;
color: black;
border-radius: 3PX;
font-size: large;
/* border:none ; */
}
.logo2{
    height:100%;
  
}
/* .actlogo{
background-image:url(amazonlogo.png) ;
background-size: cover;
width:100px ;
} */
.border{
    border:2px solid transparent;
 }
.border:hover{
border:2px solid rgb(125, 18, 18) ;

}
.location{
  height:100% ;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-location-dot{
  align-self: center;
 margin-right:10px ;
}
.box3{
  display: flex; 
justify-content: center;
align-items: center;

}
.a100{
 width:  60px; 
 height:30px ;
background-color: rgb(249, 245, 245); color: black;
/* border:none ; */
}
.a{
  width:40px ;
height: 100%;
  display: flex;
  align-items: center;
}
.fa-solid.fa-magnifying-glass{
font-size: 1.3rem;
}
.cart{
   width:100px ;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
margin-left:auto ;

}
.fa-solid.fa-cart-arrow-down{
  font-size:2.5rem ;

}
.box4{
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
.p1{
  font-size:1rem ;

}
.p2{
  font-size:1.3rem ;
 font-weight: 200px;
}
.last2{
  margin-left:20px ;
}

.p{
font-weight: 700px;
font-size: larger;
}
.nav2{
  height:40px ;
  background-color: rgb(220, 149, 51);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a{
   margin-left: 30px;
   text-decoration: none;
}
.nav2div{
  height: 100%;
   width: 20%;
 margin-left: auto;
 background-color: chocolate;
border:1px solid rgb(10, 0, 0) ;
font-weight: 600;
text-align:center;
 font-size: larger;
}
.setlogo{
   height:100% ;
   width:70px ;
   background-color: chocolate;
   border:1px solid ;

  display: flex;
  justify-content: center;
  align-items: center;
}
.options{
  width: 70%;
}
.mainimg{
  height:400px ;
  width: 100%;
background-image:url(heroimage.jpg) ;
background-size: cover;
  display: flex;
   flex-direction: row;
   justify-content: center; 
 text-align: center;

}

.heromsg{
   height: 40px;
   width:100% ;
   background-color: rgb(249, 247, 247);
margin-top: auto;
margin-bottom: 2cm; 
 border:1px solid black  ;

}
.pp{
  color: black;
}
.shop p{
height:40px ;
color: black;
justify-content: center;
font-weight: bold;
font-size: larger;
display: flex;
align-items: center;
}


.allbox{
height:700px ;
background-color: beige; 
display: flex;
flex-wrap: wrap;
justify-content:space-evenly;
}
.inbow{
  height:300px ;
  width:300px ;
  /* border:1px solid black ; */

  margin-top:20px ;
}
.more{
  display: flex;
background-color: rgb(251, 254, 255);
flex-direction: column;
align-items: center;
border-radius: 3px;
}
.inbox{
height:30%;
  width:100% ;
  flex-grow:1 ;
  border-radius:3px ; 
}
.intext{
  color: black;
  font-size: large;
}
.section{
height:10% ;
width:100% ;
background-color: white;
text-align: center; 
}

.multi-image{
  display: flex;
height:90% ;
width: 100%;
flex-wrap: wrap;
justify-content: space-around;
}
.inbox1{
height:40%;
  width:40% ;
  /* flex-grow:1 ; */
}
.under{
color: rgb(77, 209, 236);
font-size: large;
}
.ufooter{
  height:50px ;
  background-color: rgb(41, 57, 140);
  text-align: center;
   font-size: larger;
}

.footer{
height:420px ;
background-color: rgb(4, 4, 81); margin-top: 0px; 
display: flex;
justify-content: space-around;
}
.f1{
height: 400px; 
width: 15%;
margin-top:40px ;
display: flex;
flex-direction: column;
padding-top:30PX ;
text-align: center;
}
.list{
list-style: lower-alpha;
list-style-position: outside;
}
.lastp{
height:120px ;
background-color: rgb(41, 57, 140);
display: flex;
justify-content: center;
align-items: center;

}
.logolast{
height: 80%;
width:50% ;
border-radius: 6px;

}
#feedback{
  color: black;
background-color:white;
font-size: large;
border-radius:6px ;
}
.end{
height:55px ;
background-color:rgb(41, 57, 140); 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}














